<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Öğrenci Ders Kaydı Ekle</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <form action="#" th:action="@{/register/add}" th:object="${registerView}" method="post">
    <p class="mt-5 mb-2">Öğrenci Ders Kaydı Ekle</p>

    <!-- Öğrenci Seçimi -->
    <div class="mb-3">
      <label for="student">Öğrenci Seç:</label>
      <select th:field="*{student.id}" id="student" class="form-control">
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:text="${student.name}">
        </option>
      </select>
    </div>

    <!-- Ders Seçimi -->
    <div class="mb-3">
      <label for="course">Ders Seç:</label>
      <select th:field="*{course.id}" id="course" class="form-control">
        <option th:each="course : ${courses}"
                th:value="${course.id}"
                th:text="${course.name}">
        </option>
      </select>
    </div>

    <!-- Kayıt Tarihi -->
    <div class="mb-3">
      <label for="register_date">Kayıt Tarihi:</label>
      <input type="date" th:field="*{register_date}" id="register_date" class="form-control" required>
    </div>

    <!-- Dönem Bilgisi -->
    <div class="mb-3">
      <label for="semester">Dönem:</label>
      <input type="text" th:field="*{semester}" id="semester" class="form-control" placeholder="Örn: 2023-2024 Bahar" required>
    </div>

    <!-- Butonlar -->
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a class="btn btn-secondary" href="/register">İptal</a>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
